@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Macoratti .net :</strong>   <a href="mailto:macoratti@yahoo.com">Macoratti .net</a><br />
</address>